# Archivos compilados de Java
*.class

# Carpetas de compilación
/build/
/dist/

# Configuración privada de NetBeans
/nbproject/private/

# Logs
*.log

# Archivos Recursos
src/recursos/baseDatos.properties